body {
  background-color: #d3d3d3!important;
}

div.main-wrapper {
  height: 96vh;
  display:flex;
  justify-content: space-around;
  flex-direction: column;
  overflow: hidden;

}

div.main-wrapper .main-header {
  display: flex;
  height: 10%;
  align-items: center;
}

div.main-wrapper .main-header input ,div.main-wrapper .main-header button{
  height: 30px;
}

div.main-wrapper .main-header .total {
  width: 50%;
  float: right;
  height: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

div.main-wrapper .main-header .add-project-section {
  width:50%;
  height: 100%;
  display: flex;
  align-items: center;
}
div.main-wrapper .main-header .total h6 {
  width: 20%;
height: 20%;
text-align: center;
}
div.main-wrapper .main-header .total div {
  height: 80%;
background-color: white;
border-radius: 3px;
width: 20%;
display: flex;
flex-direction: column;
align-items: center;
line-height: 20px;
}

div.lists-wrapper {
display:flex;
justify-content: space-around;
height: 90%;
}


div.lists-wrapper .list {
  width: 30%;
  border:solid 1px;
  height: 100%;
}

div.lists-wrapper .list .header-count-container {
  background: rgb(128, 128, 128);
  display: flex;
width: 100%;
height: 15%;
color:white;
align-items: center;
justify-content: center;
}
div.lists-wrapper .list h4 {
  width:75%;
}

div.lists-wrapper .list .count {
  width:20%;
  background: white;
  color: black;
  height: 85%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center ;
}

div.lists-wrapper .list .count span {
  color: rgb(128, 128, 128);
}
div.lists-wrapper .list ul {
  height: 85%;
  width:100%;
  padding: 0;
  background-color: white;
  overflow-y: scroll;

}
div.lists-wrapper li {
  list-style: none;
  border-bottom: solid 1px rgb(211,211,211);
  padding :20px;
}

.empty {
  background-color: red;
  height: 100%;
}
